# F&B manager 
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [2]:
#import the libraries
import pandas as pd
import scipy as sp
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [44]:
cut_df=pd.read_csv("Cutlets.csv")
cut_df.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [45]:
cut_df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [46]:
# Hypothesis H0 = Mean of both Units are same, hence the Alternate Hypothesis 
#H1 = Mean of both units are not equal
#Will have to perform 2-tail test

In [47]:
unitA=pd.Series(cut_df.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [48]:
unitB=pd.Series(cut_df.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [49]:
# Two Sample T Test

In [51]:
tStat,pValue = sp.stats.ttest_ind(unitA,unitB)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:0.4722394724599501 T-Statistic:0.7228688704678063

In [55]:
if pValue <0.05:
  print('Reject Null Hypothesis, Unit A & Unit B are significantly different')
else:
  print('Accept Null Hypothesis, there is no significant difference between Unit A & B ')

Accept Null Hypothesis, there is no significant difference between Unit A & B

In [28]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

Since P value is more than 0.05 , H0 hypothesis is accepted which means there is no significance difference between Unit A & Unit B

# Hypothesis Testing -2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

In [69]:
lab=pd.read_csv("LabTAT.csv")
lab.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98


Null Hypothesis H0 = No significant difference in mean of TAT of all four laboratories
Alternate Hypothesis H1 = At least one laboratory's mean is significantly different

In [70]:
Lab_1=lab['Laboratory 1'].mean()
Lab_2=lab['Laboratory 2'].mean()
Lab_3=lab['Laboratory 3'].mean()
Lab_4=lab['Laboratory 4'].mean()

print('Laboratory 1 Mean = ',Lab_1)
print('Laboratory 2 Mean = ',Lab_2)
print('Laboratory 3 Mean = ',Lab_3)
print('Laboratory 4 Mean = ',Lab_4)

Laboratory 1 Mean =  178.36158333333339
Laboratory 2 Mean =  178.9029166666668
Laboratory 3 Mean =  199.91325000000003
Laboratory 4 Mean =  163.6827499999999

In [57]:
Lab1=pd.DataFrame(lab['Laboratory 1'])
Lab2=pd.DataFrame(lab['Laboratory 2'])
Lab3=pd.DataFrame(lab['Laboratory 3'])
Lab4=pd.DataFrame(lab['Laboratory 4'])

In [74]:
#Annova F-Test using stats.f_oneway scipy 

tStat, pvalue = sp.stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
print("P_Value:{0} T_Statistic:{1}".format(pvalue,tStat))

P_Value:[2.11567089e-57] T_Statistic:[118.70421654]

In [76]:
if pvalue < 0.05:
  print('Reject null hypothesis, Avg TAT of at least 1 Laboratory is significantly different')
else:
  print('Accept null hypothesis,No significant difference in Avg TAT of all four laboratories')

Reject null hypothesis, Avg TAT of at least 1 Laboratory is significantly different

In [62]:
#Annova F-Test using stats.f_oneway(column locations)
print(stats.f_oneway(lab.iloc[:,0], lab.iloc[:,1], lab.iloc[:,2], lab.iloc[:,3]))

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Compare p value and if p value is less 0.05 then reject the null hypothesis.
Reject null hypothesis, Avg TAT of at least 1 Laboratory is significantly different

# Hypothesis Testing -3
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [87]:
from scipy.stats import chi2_contingency

In [92]:
# Make dimensional array
data=np.array([[50,142,131,70],[550,351,480,350]])
data

array([[ 50, 142, 131,  70],
       [550, 351, 480, 350]])

In [93]:
#Method 1 - directly getting statistics chi2_contingency(data)
chi2_contingency(data)

(80.27295426602495,
 2.682172557281901e-17,
 3,
 array([[111.01694915,  91.21892655, 113.05225989,  77.71186441],
        [488.98305085, 401.78107345, 497.94774011, 342.28813559]]))

In [97]:
#p value is less than 0.05
# Rejecting the Null Hypothesis

In [98]:
#Method 2 - sp.stats
chiStats = sp.stats.chi2_contingency(data)
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')
if chiStats[1] < 0.05:
  print('Reject Null hypothesis')
else:
  print('Accept Null hypothesis')

Test t=80.272954 p-value=0.000000
Interpret by p-Value
Reject Null hypothesis

# Hypothesis Testing -4
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

# Solution

Hypothesis - 
H0 : Defective percentage does not vary by centers
H1 : Defective percentage does vary by centers

In [4]:
from scipy.stats import chi2_contingency

In [5]:
customer=pd.read_csv("CostomerandOrderForm.csv")
customer.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [13]:
Phil_values=customer["Phillippines"].value_counts()
Indo_values=customer["Indonesia"].value_counts()
Malt_values=customer["Malta"].value_counts()
Indi_values=customer["India"].value_counts()
print(Phil_values)
print(Indo_values)
print(Malt_values)
print(Indi_values)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
data=[[271,267,269,280],[29,33,31,20]]
stat, p, dof, expected = chi2_contingency(data)

In [17]:
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (Reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.2771020991233135
Independent (H0 holds true)

In [20]:
#Accepting the Null Hypothesis
#Defective percentage does not vary by centers